- var crumbs = paths.href=="/index.md"?[]:paths.href.split('/').slice(2,4)
- var crumbs_path = ""
- var capitalize = function(text){ return text.toLowerCase().replace( /\b\w/g, function (m) { return m.toUpperCase(); }) };
.crumb
  a(href=site.baseurl+'/'+paths.href.split('/')[1]) DFAK
  |  
  each crumb,i in crumbs 
    - var crumb_display = crumb.replace(/-/g,' ').replace(/_/g,' ').replace('.md', '').replace('.html.pug',' ').replace('.overview',' ')
    - crumbs_path = crumbs_path + "/" + crumb
    if (i==crumbs.length-1) || (crumb==='topics') 
      | / 
      strong= capitalize(crumb_display) + ' '
    else
      | / 
      a(href=site.baseurl+'/'+paths.href.split('/')[1]+crumbs_path+'/')= capitalize(crumb_display)
      |   
